In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('synthetic_fraud_dataset.csv')

In [3]:
df.shape

(1000, 12)

In [4]:
df.columns

Index(['transaction_id', 'datetime', 'transaction_amount', 'transaction_time',
       'account_age_days', 'num_prev_transactions', 'avg_transaction_amount',
       'transaction_type', 'device_type', 'region', 'customer_segment',
       'is_fraud'],
      dtype='object')

In [5]:
df.head()

,transaction_id,datetime,transaction_amount,transaction_time,account_age_days,num_prev_transactions,avg_transaction_amount,transaction_type,device_type,region,customer_segment,is_fraud
0,1,2025-01-16 07:27:17.813857,205.18,17.508197,399,26,88.69,payment,mobile,South,individual,0
1,2,2025-01-23 05:41:17.813857,192.78,18.372310,1009,16,52.97,payment,mobile,East,individual,0
2,3,2025-07-04 16:07:17.813857,142.37,3.813796,534,23,98.79,payment,mobile,East,business,0
3,4,2025-04-21 14:27:17.813857,38.12,14.645404,1273,24,92.05,transfer,mobile,North,student,0
4,5,2025-01-08 04:37:17.813857,107.06,3.248498,1865,18,141.76,purchase,mobile,West,individual,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          1000 non-null   int64
 1   datetime                1000 non-null   object
 2   transaction_amount      1000 non-null   float64
 3   transaction_time        1000 non-null   float64
 4   account_age_days        1000 non-null   int64
 5   num_prev_transactions   1000 non-null   int64
 6   avg_transaction_amount  1000 non-null   float64
 7   transaction_type        1000 non-null   object
 8   device_type             1000 non-null   object
 9   region                  1000 non-null   object
 10  customer_segment        1000 non-null   object
 11  is_fraud                1000 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [7]:
df.describe()

,transaction_id,transaction_amount,transaction_time,account_age_days,num_prev_transactions,avg_transaction_amount,is_fraud
count,1000.000000,1000.00000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,500.500000,124.50263,12.051881,991.55100,19.742000,81.432500,0.280000
std,288.819436,125.75085,6.983157,565.95852,4.387789,30.530074,0.449224
min,1.000000,0.39000,0.000279,12.00000,9.000000,1.000000,0.000000
25%,250.750000,33.42500,6.246110,512.25000,17.000000,60.762500,0.000000
50%,500.500000,87.76000,12.044499,959.50000,20.000000,80.665000,0.000000
75%,750.250000,171.77000,18.184241,1476.25000,23.000000,101.770000,1.000000
max,1000.000000,893.01000,23.947701,1998.00000,34.000000,201.580000,1.000000

In [8]:
df.isnull().sum()

transaction_id            0
datetime                  0
transaction_amount        0
transaction_time          0
account_age_days          0
num_prev_transactions     0
avg_transaction_amount    0
transaction_type          0
device_type               0
region                    0
customer_segment          0
is_fraud                  0
dtype: int64